.app-name {
  text-align: center;
}

.header {
  text-align: center;
}

.question-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.question-card h5 {
  text-align: center;
}

.question-card .question {
  text-align: center;
}

.question-card .answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
